# Fluent Bit Configuration
[SERVICE]
    # Flush interval (in seconds) for flushing records to destination.
    flush        1
    daemon       Off
    log_level    info
    parsers_file parsers.conf
    plugins_file plugins.conf

    # HTTP Server settings (disabled).
    http_server  off
    http_listen  0.0.0.0
    http_port    2020

# Node Exporter Metrics Input
[INPUT]
    name            node_exporter_metrics
    tag             node_metrics
    scrape_interval 5

# Tail Input for Nginx logs
[INPUT]
    name            tail
    path            /var/log/nginx/*.log
    tag             nginx.access
    mem_buf_limit   5MB
    skip_long_lines On
    rotate_wait     30
    ignore_older    1h

# Output to Prometheus Remote Write
[OUTPUT]
    name        prometheus_remote_write
    alias       output_prometheus
    match       node_metrics
    host        192.168.1.4
    uri         /api/v1/write
    port        9090
    tls         off
    log_response_payload off  
    add_label   instance {{ hostname }}
    add_label   job system-monitoring

# Output to STDOUT for Nginx access logs (temp)
[OUTPUT]
    name   stdout
    alias  nginx_logs

[OUTPUT]
    Name  es
    match  nginx.access
    Host  192.168.1.4
    Port  9200
    Index nginx-access
    Type  _doc
    Generate_ID On